.button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;  
    background-color: $orange;
    color: $white;
    padding: 14px 30px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;

    @include tablet {
        max-width: 250px;
    }

    &:focus {
        outline: 0;
    }
}

.button__icon {
    fill: $white;
    padding-right: 8px;
    width: 24px;
}

.button__text {
    font-weight: 700;
}
