.slider__wrapper {
    display: flex;
    flex-direction: column;

    padding: 0;
    
    @include tablet {
        width: 50%;
        padding: 0 100px 0 20px;
    }
}

.slide__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    
    @include tablet {
        border-radius: 20px;

    }
}
.thumb__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;    
}

.slider__thumb-wrapper {
    display: none;
    @include tablet {
        margin-top: 30px;
        display: block;
    }
}

.slider__nav {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1;
    cursor: pointer;
    background-color: $white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--next {
        left: auto;
        right: 10px;
    }

    @include tablet {
        display: none;
    }
}

.swiper-button-disabled {
    opacity: .5;
}

.slider__nav__icon {

}

.swiper {
    width: 100%;
}